<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="w-full h-screen bg-zinc-900 p-10 text-white">

        <div class="text-3xl bg-blue-700 rounded-md p-2 mb-5 ">login page  </div>
    
        <form action="/login" method="post">
         
            <input class="bg-zinc-700 text-white rounded-md p-2 outline-none m-2"  type="text" placeholder="email" name="email" >
            <input class="bg-zinc-700 text-white rounded-md p-2 outline-none m-2"  type="text" placeholder="password" name="password" >
           
            <button value="login user " class="text-white bg-blue-700 p-2 ml-3 rounded-md">login user </button>
        </form>
    </div>

</body>

</html>